use_simulith_endpoint = true
simulith_endpoint     = "http://127.0.0.1:4566"
aws_region            = "us-east-1"
project_name          = "demoapp"
environment           = "dev"
pool_name             = "demoapp-dev-cognito"
client_name           = "demoapp-dev-cognito-client"
domain_prefix         = "demoapp-dev-cognito"
