use_simulith_endpoint = true
aws_region            = "us-east-1"
project_name          = "demoapp"
environment           = "dev"
bucket_name           = "demoapp-dev-cdn-origin"
zone_name             = "demoapp-dev-cdn.local"
