use_simulith_endpoint = true
aws_region            = "us-east-1"
project_name          = "demoapp"
environment           = "dev"
bucket_name           = "demoapp-dev-web-origin"
zone_name             = "demoapp-dev-web.local"
domain_name           = "cdn.demoapp-dev-web.local"
