use_simulith_endpoint = true
simulith_endpoint     = "http://127.0.0.1:9080/runtime"
aws_region            = "us-east-1"
bucket_name           = "demo-terraform-state"
lock_table_name       = "demo_terraform_lock"
