use_simulith_endpoint = true
aws_region            = "us-east-1"
project_name          = "demoapp"
environment           = "dev"
zone_name             = "demoapp-dev-acm.local"
domain_name           = "demoapp-dev-acm.local"
subject_alternative_names = ["www.demoapp-dev-acm.local"]
